* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}
body {
    min-width: 320px;
}

header{
    margin-top: 5em;
}

/*h2{
    font-family: Raleway;
    font-weight: 400;}

p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;

}*/

ul{
    list-style-type: none;
}

li{
    text-align: start;
    margin: 1em 0em 0em 1em;
}

button{
    cursor: pointer;
}

.height12{
    height: 12em;
}

.popUp {
    position: sticky;
    z-index: 1000;
    top: 25%;
    background-color: white;
    height: 18em;
    padding: 3em 1em 1em 1em;
    width: 21em;
    left: 5%;
    border: 3px solid black;
}

#btnPopup{
    width: 2em;
    height: 2em;
    border-radius: 20px;
    display: block;
    position: relative;
    bottom: 2.5em;
}

.subscribe_btn{
    background: #08A6E4;
    color: white;
    width: 15em;
    height: 3em;
    border-radius: 40px;
    border: none;
    box-shadow: 5px 10px 14px 0px #07ACE64A;
    margin: 2em 0em 1em 0em;
    font-family: 'Open Sans';
    font-weight: 700;
}

.h-estandar{
    font-family: Raleway;
    font-weight: 400;
}

.p-estandar{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
}

.border_red{
    border: 1px solid #FB3B64;

}

.border_red:hover{
    box-shadow: 0px 0px 20px #FB3B64;
}

.border_blue{
    border: 1px solid #07ACE6;
}

.border_blue:hover{
    box-shadow: 0px 0px 20px #07ACE6;
}

.border_green{
    border: 1px solid #55DFB4;
}

.border_green:hover{
    box-shadow: 0px 0px 20px #55DFB4;
}

.hidden{
    display: none;
}

#benefits{
    background-color: #F7F7F7;
}

.numbers{
    font-family: Raleway;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 5.96px;
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.menu{
    box-shadow: 0px 5px 5px lightgrey;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}


.menu_container a {
    text-decoration: none;
    color: #A5A5A5;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
}

.menu_container li:hover{
    color: black;
    
}

.menu_container{
    position: absolute;
    top: 4em;
    left: 1em;
}

.menu_button{
    border: none;
    background-color: white;
    margin-left: 8em;
}



.menu_title{
    font-family: Raleway;
    font-weight: 400;
    color: #08A6E4;
    margin-top: 0.5em;
    display: inline-block;
}

.progress-bar{
   
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    right: 0%;
}

.progress-bar-content{
    position: relative;
    background-color: #08A6E4;
    width: 0%;
    padding: 0%;
    height: 3px;
}

.header_button{
    background: #08A6E4;
    color: white;
    width: 310px;/*si uso % el tamaño cambia demasiado*/
    height: 67px;
    border-radius: 40px;
    border: none;
    box-shadow: 5px 10px 14px 0px #07ACE64A;
    margin-bottom: 5em;

}



header h2{
    margin-bottom: 1em;
    font-size: 35px;
    font-weight: 400;
}

header p{
    margin-bottom: 3em;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 65%;
}

.btn_return{
    position: fixed;
    bottom: 2em;
    right: 2em;
    border: none;
    background-color: white;
    width: 4em;
    height: 4em;
    z-index: 100;
    border-radius: 28px;
}

#whyUs{
    margin-left: 0em;
    margin-right: 0em;
}

.whyUs__container{
    margin-top: 2em;
    margin-bottom: 2em;
}

.whyUs__container p{
    color: #A5A5A5;
    width: 25%;
    display: inline-block;
}

.whyUs_img1{
    position: absolute;
}

.whyUs_img11{
    position: relative;
    margin: 0em 0em 1em 2em;}

.whyUs_img12{
    position: relative;
    margin: 1em 0em 1em 1em;
}

.whyUs_img13{
    position: relative;
    margin: 0em 0em 0em 2em;
}


.benefits__container{
    width: 80%;
    height: 420px;
    display: inline-block;
    margin-top: 3em;
    background: white;
    margin-bottom: 0em;
    padding: 2em 0em 2em 0em;
}

#recMac{
    display: none;
}

#circleMac{
    z-index: 1;
    position: absolute;
    margin: 0em 0em 0em 6em;
}

#mac{
    z-index: 2;
    position: relative;
    margin: 2em 0em 0em 0em;
}

#mac2{
    display: none;
}

#iphone1{
    position: absolute;
}

#iphone2{
    display: none;
}

#circlePhone2{
    display: none;
}

.benefits__container h2 {
    text-align: left;
    margin: 1em 2em 1em 1em;
}

.benefits__container p {
    text-align: left;
    margin: 1em 2em 1em 2em;
}

li p{
    display: inline-block;
}

.checkbox{
    margin-right: 0.6em;
    height: fit-content;
    margin-top: 4px;
}

#prices{
    margin-top: 3em;
}

 .prices__container{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    height: 307px;
    padding: 2em 0em 0em 0em;
    border-radius: 20px;
    margin: 2em 0em 2em 0em;
    position: relative;
 }

 .prices__container:hover{
    height: 340px;
    width: 90%;
    padding: 4em 1em 0em 1em;
    /*box-shadow: 0px 0px 20px #FB3B64;*/
 }

 .prices__container li {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    margin: 0em 0em 2em 1em;
 }

    

.prices__container_items2{
    display: inline-block;
    margin-left: 0em;
}

.prices__container_items1{
    display: inline-block;
    margin-right: 0em;
    margin-bottom: 3em;
}

.prices__choice{
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    /*margin-bottom: 1em;
    margin-right: 1.8em;
    margin-left: 1;*/
    margin: 0em 1em 1em 2.5em;
}

.prices__choice2{
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    /*margin-bottom: 1em;
    margin-right: 1.8em;
    margin-left: 1;*/
    margin: 0em 0em 1em 1.5em;
}

.prices__choice3{
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    /*margin-bottom: 1em;
    margin-right: 1.8em;
    margin-left: 1;*/
    margin: 0em 1em 1em 1.5em;
}

.prices__price1{

    font-size: 46px;
    color: #FB3B64;
    font-weight: 300;
    margin-left: 0.5em;
}

.prices__price2{

    font-size: 46px;
    color: #07ACE6;
    font-weight: 300;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.prices__price3{

    font-size: 46px;
    color: #55DFB4;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.limited_offer{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 12px;
    margin-left: 1.5em;

}

.btn_basic{
    width: 170px;
    height: 50px;
    background-color: #EB476E;
    color: white;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 91%;
    left: 22%;
    font-family: 'Open Sans';
    font-weight: 700;
}



/*a los buttons les he dejado la medida en px porque con % se descuadraban muchisimo*/

.btn_profesional{
    width: 170px;
    height: 50px;
    background-color: #07ACE6;
    color: white;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 91%;
    left: 22%;
    font-family: 'Open Sans';
    font-weight: 700;
}



.btn_premium{
    width: 170px;
    height: 50px;
    background-color: #55DFB4;
    color: white;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 91%;
    left: 22%;
    font-family: 'Open Sans';
    font-weight: 700;
}






#contact{
    margin-top: 5em;
}

.btn_mail{
    background: none;
    border: none;
}

.btn_phone{
    background: none;
    border: none;
}


.contact__container_title{
    padding: 1em 1em 0em 2em;
}

.contact__container_title p{
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

.contact__container_title h2{
    font-size: 40px;
    text-align: left;
}



.mail_container{
    text-align: left;
    margin: 1em 0em 0.5em 2em;
}

.mail_container p{
    display: inline-block;
    margin-left: 2.5em;
    font-weight: 600;
    color: #A5A5A5;
}

.mail_container img{
    position: absolute;
}


.phone_container{
    text-align: left;
    margin: 1em 0em 0.5em 2em;
}

.phone_container p{
    display: inline-block;
    margin-left: 2.5em;
    font-weight: 600;
    color: #A5A5A5;
}

.phone_container img{
    position: absolute;
}

.contact__form{
    text-align: left;
    margin: 2em 0em 2em 2em;
}

.contact__form p{
    display: inline-block;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: #08A6E4;
}

.contact__form input{
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid #95989A;
    text-align: left;
    margin-bottom: 2em;
    margin-top: 1em;
}

.contact__consent{
    text-align: left;
    margin-left: 2em;
    display: flex; 
}

#checkbox{
    width: 24px;
    height: 24px;
}




/*#checkbox:checked {
  filter: invert(50%);
}*/

#checkboxP{
    font-size: 12px;
    line-height: 16.34px;
    color: #707070;
    width: 70%;
    text-align: left;
    margin-left: 1em;
    font-family: 'Open Sans';
    font-weight: 400;
}

.contact_btn{
    background: #08A6E4;
    color: white;
    width: 226px;
    height: 57px;
    border-radius: 40px;
    border: none;
    box-shadow: 5px 10px 14px 0px #07ACE64A;
    margin: 2em 0em 1em 2em;
    font-family: 'Open Sans';
    font-weight: 700;
}

.footer_title{
    font-family: Raleway;
    font-weight: 300;
    color: #08A6E4;
    margin: 1em 0.5em 0em 0em;
    font-size: 26px;
}

.copyright{
    font-size: 11px;
    line-height: 15px;
    opacity: 0.4;
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 400;
}

.footer__container{
    margin: 0em 0em 2em 0em;
    box-shadow: 0px 5px 4px 6px lightgrey;
}

.footer__container_div1{
    display: inline-block;
    float: left;
    margin: 1em 0em 1em 1em;
}

.footer__container_div2{
    display: inline-block;
    float: right;
    margin: 3em 2em 2em 0em;

}


/* slider */

#slider{
    display: none;
}

.slideshow-container {
    max-width: 70%;
    position: relative;
    /* margin: auto; */
    display: inline-block;
    /* margin-left: 470px; */
    margin-top: 10em;
    max-height: 54em;
    width: 70%;
    background-color: black;

}

.Containers {
    /* margin: 80px; */
    margin-top: 4.5em;
    width: 100%;
    height: 60em;
}

.Back, .forward {
    cursor: pointer;
    position: absolute;
    width: auto;
    /* margin-top: -23px; */
    padding: 22px;
    color: grey;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s ease;
    border-radius: 2em;
    user-select: none;
    bottom: 20em;
    background-color: black;
    border: 5px solid lightgrey;
}

.forward {
  right: -4em;
}

.Back{
    left: 1em;
}

.Back:hover, .forward:hover {
  background-color: white;
  /*background-color: rgba(0,0,0,0.8);*/
}


.dotsLine {
    position: relative;
    bottom: 2em;

}

.dots {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0.2em;
  background-color: #717161; 
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: white;
}


#imgCarousel {
    display: inline-block;
    width: 100%;
    height: 75%;

}

#coin-select{
    background-color: #08A6E4;
    color: white;
    height: 2em;
    width: 5em;
    border: none;
    margin-top: 1em;
}

/* problemas con dos clases */
@media only screen and (min-width: 50px) {

    .h-estandar{
        font-family: Raleway;
        font-weight: 400;
    }

    .p-estandar{
        font-family: Open Sans;
        font-weight: 400;
    }
}


/*A partir de aquí, estilo para pantallas grandes desktop --------------------------------------------------------------------------------------*/



@media only screen and (min-width: 1250px) {

#slider{
    display: block;
}

.menu{
    justify-content: space-between;
    display: flex;
    padding: 2em 5em 0em 10em;
}

.menu_button{
    display: none;
}

.menu_container{
    display: inline-block;
    position: static;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu_container li{
    height: 5em;
}

a{
    text-decoration: none;
    color: #A5A5A5;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-align: center;
    margin-right: 6em;
}

.menu_container li:hover{
    border-bottom: 5px solid #08A6E4;
    color: black;
    
}

li{
    display: inline-block;
}


header p{
    width: 100%;
}

.popUp{

    top: 50%;
    height: 15em;
    width: 25em;
    left: 40%;
}

#whyUs{
    display: flex;
    justify-content: center;
}

#whyUs h2{
    font-size: 36px;
    position: absolute;
}

.whyUs__container{
    margin: 10em 5em 10em 5em;
}

.whyUs__container p {
    width: 75%;
}

.whyUs_img13{
    margin: 0.5em 0em 1em 2em;
}

#benefits{
    display: inline-block;
    padding: 5em 0em 5em 0em;
}

.reverse{
    flex-flow: row-reverse;
}

.benefits__container{
    width: 70%;
    margin: 1em 0em 1em 0em
}

.benefits__container_div{
    display: flex;
    justify-content: space-between;
}

.benefits__container_items1{
    width: 40%;
    display: block;
    text-align: left;
}

.benefits__container_items2{
    width: 33%;
    display: block;
}


#blue{
    width: 70%;
    margin: 1em 0em 1em 0em;
    /*text-align: left;*/
    padding: 4em 0em 1em 5em;
}


#green {
    width: 70%;
    display: inline-flex;
    background: none;
    padding: 0em 0em 1em 0em;
}

.green1{
    background-color: white;
    margin-right: 4em;
}

.green2{
    background-color: #55DFB4;
    width: 60%;
    height: 100%;
}

#trumpet{
    position: absolute;
    width: 20%;
    right: 20em;
    margin-top: 7em;
}

#circleMac{
    display: none;
}

#recMac{
    display: inline-block;
    z-index: 1;
    position: absolute;
    margin: 3em 0em 0em 12em;
}

#mac2{
    display: inline-block;
    z-index: 2;
    position: absolute;
    margin: 7em 0em 0em 0em;
}

#mac{
    display: none;
}

#iphone1{
    display: none;
}

#iphone2{
    position: absolute;
    display: block;
    z-index: 2;
}

#circlePhone2{
    display: block;
    position: absolute;
}

#circlePhone1{
    display: none;
}


.benefits__container h2{
    margin: 5em 1em 0em 2.5em;
}

.benefits__container p{
    margin: 1em 0em 0em 5em;
    width: 75%;
    padding-bottom: 4em;
}

#red p{
    border-bottom: 4px solid #EB476E;
}

#blue p{
    border-bottom: 4px solid #07ACE6;
    margin: 1em 1em 1em 0em;
    width: 80%;
}

#blue h2{
    margin: 1em 1em 1em 0em;
    width: 40%;
}

#green p{
    border-bottom: 4px solid #55DFB4;
    width: 52%;
}

#prices{
    margin-top: 5em;

}


.prices__container{
    width: 24%;
    height: 500px;
    margin: 3em 3em 0em 4em;
    padding-bottom: 3em;
}

.prices__container:hover{
    height: 540px;
    width: 25%;
    padding-bottom: 3em;
}

.prices__container li {
    margin: 0em 0em 2em 0em;
    display: flex;
    justify-content: center;
}

.prices__container_items1{
    width: 100%;
}

.prices__container_items2{
    width: 100%;

}

.prices__price1{
    margin: 0em 0em 0.5em 0em;
}

.prices__price2{
    margin: 0em 0em 0.5em 0em;
}

.prices__price3{
    margin: 0em 0em 0.5em 0em;
}

.prices__choice {
    margin: 0em 0em 2.5em 0em;
}

.prices__choice3{
    margin: 0em 0em 2.5em 0em;
}

.prices__choice2{
    margin: 0em 0em 2.5em 0em;
}

.btn_basic{
    left: 30%;
    top: 95%;
}

.btn_profesional{
    left: 30%;
    top: 95%;
}

.btn_premium{
    left: 30%;
    top: 95%;
}

.limited_offer{
    margin: 0em;
}

#contact{
    margin-top: 15em;
    display: flex;
    justify-content: center;
    padding-left: 12em;
}

.contact__container  {
}

.contact__container_title h2 {
    
    margin-bottom: 0.5em;
}

.contact__container_title p {
    
    margin-bottom: 1em;
}

.mail_container {
    display: inline-block;
}
.phone_container {
    display: inline-block;
    margin-right: 6em;
}

.contact__form_container{
    display: inline-block;
    width: 50%;
}

.contact__form {
    width: 80%;
}

.contact_btn {
    margin: 2em 0em 3em 8em;
}

.footer__container {
    box-shadow: 0px 0px 7px black;
    border-top: 1px solid lightgrey;
}

.footer__container_div1{
    margin: 1em 0em 1em 8em;
}

.footer__container_div2{
    margin: 3em 8em 2em 0em;

}

}


@media only screen and (max-width: 1100px){

}

@media only screen and (min-width: 700px) and (max-width: 1200px){

header p {
    display: block;
    width: 100%;
    
}

.btn_basic{
    left: 42%;
}

.btn_premium{
    left: 42%;
}

.btn_profesional{

    left: 42%;
}

.prices__choice{
    margin-left: 13.5em;
}

.prices__choice2{
    margin-left: 13.5em;
}

.prices__choice3{
    margin-left: 13.5em;
}

.prices__price1{
    margin-left: 5.5em;
}

.prices__price2{
    margin-left: 5.5em;
}

.prices__price3{
    margin-left: 5.5em;
}

.limited_offer{
    margin-left: 20em;
}

}